.main{
    background-color: #ccc;
    text-align: center;
}

.btn{
    background-color: cadetblue;
    color: white;
    border: 2px solid wheat;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

.btn:hover{
    border: 2px solid black;
    background-color: burlywood;
    color: black;
    cursor: pointer;
}